<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: site-head">
    <title>Lejlighedspreferencer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <header th:replace="layout :: site-header" />
    <aside th:replace="layout :: site-aside" />

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Lejligheder
                <small>Overblik</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active"><a href="#">Lejligheder</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form id="apartmentIdsForm" th:action="@{'/preferencessaved'}" th:object="${apartmentIds}" method="post"
                          role="form">
                    <div class="box box-primary">
                        <!-- /.box-header -->

                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Addresse</th>
                                    <th>Kvm</th>
                                    <th>Værelser</th>
                                    <th>Etager</th>
                                    <th>Have j/n</th>
                                    <th>Min liste</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="apartment, status : ${apartment}">
                                    <td th:text="${status.count}">1</td>
                                    <td
                                            th:text="${apartment.address} + ' ' + ${apartment.number} + ' ' + ${apartment.floor} + ' ' + ${apartment.side}">Address</td>
                                    <td th:text="${apartment.size}">size</td>
                                    <td th:text="${apartment.rooms}">rooms</td>
                                    <td th:text="${apartment.floors}">floors</td>
                                    <td>
                                        <span class="glyphicon glyphicon-ok" th:if="${apartment.garden}"></span>
                                        <span class="glyphicon glyphicon-remove" th:unless="${apartment.garden}"></span>
                                    </td>
                                    <!--<td th:text="${#lists.contains(apartmentIds, apartment.id)}">
                                        YES
                                    </td>-->
                                    <td>
                                        <input type="checkbox" name="active"
                                               th:checked="${#lists.contains(apartmentIds, apartment.id)}"/>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Addresse</th>
                                    <th>Kvm</th>
                                    <th>Værelser</th>
                                    <th>Etager</th>
                                    <th>Have j/n</th>
                                    <th>Min liste</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.box -->
                    <button type="Submit" value="Edit" class="btn btn-info pull-right"><a
                            onclick="return confirm('Er de indtastede oplysninger korrekte?')">Gem ændringer</a></button>
                    </form>

                </div>
                <!-- /.col -->
            </div>
            <p class="admin-message-text text-center" th:utext="${userMessage}"></p>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <footer th:replace="layout :: site-footer" />
    <!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable();
            $('#example2').DataTable({
                'paging'      : true,
                'lengthChange': false,
                'searching'   : false,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false
            })
        })
    </script>
</div>
</body>
</html>
